<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Agrega '}) %>
    

<body>
    <%- include('../partials/header') %>
    

    <main>

        <section class="add-product">
            
            <form action="/products/addProduct" method="POST"  enctype="multipart/form-data">
                <div>
                    <label for="nombre-de-producto">Nombre de Producto:</label>
                    <br>
                    <input type="text" name="nombre" class="desc-nuevo-product" placeholder="Producto NUEVO">
                </div>
            <br>
            <div>
                <label for="descripcion-nuevo-producto">Descripcion: </label>
                <br>
                <input type="text" name="descripcion" class="desc-nuevo-product" placeholder="Aqui su Descripcion">
            </div>
            <br>
            <label for="interior-exterior">Característica: </label>
            <br>
            <select name="Categoría" class="interior-exterior">
                <option value="Exterior" selected>Exterior</option>
                <option value="Interior">Interior</option>
            </select>
            <br>
            <br>
            <div>
                <label for="precio-de-producto">Precio de Producto: </label>
                <br>
                <input type="number" name="precio" class="precio-nuevo" placeholder="$$$$">
            </div>
            <br>
            <div>
                    <label for="imagenProducto" class="form-label">Imagen</label>
                    <br>
                    <input type="file" name="imagenProducto">
            </div>
            <br>
            
            <br>
            <button type="submit" value="Login" class="login-button">Subir Producto</button>
              
            </form>

        </section>

    </main>


</body>


