<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Agrega un Producto '}) %>
    

<body>
    <%- include('../partials/header') %>
    

    <main>

        <section class="add-product">
            <div class="errores">
                <ul></ul>
            </div>
            <form action="/products/addProduct" method="POST" class="agregar" enctype="multipart/form-data">
                <div>
                    <label for="nombre-de-producto">Nombre de Producto:</label>
                    <br>
                    <input type="text" id= "inputName" name="nombre" required="required" maxlength="25" class="desc-nuevo-product" placeholder="Producto NUEVO">
                </div>
            <br>
            <div>
                <label for="descripcion-nuevo-producto">Descripcion: </label>
                <br>
                <input type="text" id= "inputDescripcion" name="descripcion" required="required" maxlength="300" class="desc-nuevo-product" placeholder="Aqui su Descripcion">
            </div>
            <br>
            <label for="interior-exterior">Característica: </label>
            <br>
            <select name="categoria" required="required" class="interior-exterior">
                <option value="Exterior" selected>Exterior</option>
                <option value="Interior">Interior</option>
            </select>
            <br>
            <br>
            <div>
                <label for="precio-de-producto">Precio de Producto: </label>
                <br>
                <input type="number" name="precio" required="required" id="precio-nuevo" placeholder="$$$$">
            </div>
            <br>
            <div>
                    <label for="imagen" class="form-label">Imagen</label>
                    <br>
                    <input type="file" id="inputImagen" name="imagen" required="required">
            </div>
            <br>
            
            <br>
            <button type="submit" value="Login" class="login-button">Subir Producto</button>
              
            </form>

        </section>

    </main>
    <%- include('../partials/footer') %>
    <script src="../JS/addProductValidation.js"></script>
</body>

</html>
