<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: 'Carrito'}) %>

<body>  
    <%- include('../partials/header') %>
    <main>
        <div class="carrito-main">
            <table id="divCarro">
                <tr>
                    <th>PRODUCTOS</th>
                    <th>CANTIDAD</th>
                    <th>SUBTOTAL</th>
                </tr>
                <tr >
                   
                </tr>
                
            </table>

            <div class="total-price">

                <table>
                    <tr>
                        <td>SUBTOTAL</td>
                        <td>$5000,00</td>
                    </tr>
                    <tr>
                        <td>IVA</td>
                        <td>$1050,00</td>
                    </tr>
                    <tr>
                        <td>TOTAL</td>
                        <td>$6050,00</td>
                    </tr>
                </table>

            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="/JS/vistaCarrito.js"></script>
</body>

</html>