<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Editar un producto'}) %>

<body>
        <%- include('../partials/header') %>
       
    <section class="add-product">
       

        <form action="/products/editProduct/<%=productoEnDetalle.id%?_method=PUT" method="POST">
            <div>
                <label for="id-de-producto">Id de Producto que desea editar:</label>
                <input type="number" name="id-de-producto" class="img-nueva" placeholder="ID Producto">
            </div>
            <div>
                <label for="nombre-de-producto">Nombre:</label>
                <input type="text" name="nombre-de-producto" class="img-nueva" placeholder="Producto">
            </div>
      
            <label for="imagen-producto">Agregue imagenes:</label>
            <br>
            <input type="file" name="imagen-nuevo-producto">
         
        <br>
                               
        <div>
            <label for="precio-de-producto">Nuevo precio: </label>
            <br>
            <input type="number" name="precio-de-producto" class="precio-nuevo" placeholder="$$$$">
        </div>
        <div>
            <label for="oferta-de-producto">Nueva oferta: </label>
            <br>
            <input type="number" name="oferta-de-producto" class="precio-nuevo" placeholder="%">
        </div>
        <div>
            <label for="stock-disponible">Stock: </label>
            <br>
            <input type="number" name="stock-de-producto" class="precio-nuevo">
        </div>

        <div>
            <label for="descripcion-producto">Descripcion: </label>
            <br>
            <input type="text" name="descripcion-producto" class="desc-nuevo-product" placeholder="Aqui su Descripcion">
        </div>

        <label for="interior-exterior">Característica: </label>
        <br>
            <select name="select" class="interior-exterior">
                <option value="value1" selected>Exterior</option>
                <option value="value2">Interior</option>
            </select>
        <button type="submit" value="Login" class="login-button">Editar Producto</button>
          
        </form>

    </section>

</main>
<%- include('../partials/footer') %>
</body>
</html>