<footer id="footer" class="section footer">
    <div class="container">
      <div class="footer-container">
        <div class="footer-center">
          <h3>REDES SOCIALES</h3>
          <a href="#">Instagram</a>
          <a href="#">Twitter</a>
          <a href="#">Facebook</a>
          <a href="#">Whatsaap</a>
          
        </div>
        <div class="footer-center">
          <h3>INFORMACIÓN</h3>
          <a href="#">Sobre Nosotros</a>
          <a href="#">Políticas Privacidad</a>
          <a href="#">Terminos y Condiciones</a>
          <a href="#">Contáctanos</a>
          <a href="#">Mapa del Sitio</a>
        </div>
        <div class="footer-center">
          <h3>MI CUENTA</h3>
          <a href="#">Mi Cuenta</a>
          <a href="#">Ordenes de Compra</a>
          <a href="#">Deseados</a>
          <a href="#">Newsletter</a>
          <a href="#">Devoluciones</a>
        </div>
        <div class="footer-center">
          <h3>CONTACT US</h3>
          <div>
            <span>
              <i class="fas fa-map-marker-alt"></i>
            </span>
            Costa Rica 2009, Palermo, CABA, Argentina
          </div>
          <div>
            <span>
              <i class="far fa-envelope"></i>
            </span>
            plantasia@gmail.com
          </div>
          <div>
            <span>
              <i class="fas fa-phone"></i>
            </span>
            +54-11-64356740
          </div>
          <div class="payment-methods">
            <img src="./images/payment.png" alt="">
          </div>
        </div>
      </div>
    </div>
    </div>
  </footer>