  <header class="home-header">
    <div class="home-header-ofertas">
        <a href="/users/registro"><strong>¡Registrate gratis para mas descuentos!</strong></a>
        <div class="home-header-button-top">
            <a href="#" class="home-button-a">
            <i id="home-search" class="fas fa-search"></i>
        </a>
        <% if(typeof(logeado) != "undefined")  {%> 
            <a href="/users/profile" class="home-button-a" >
            <i id="home-shopping" class="fas fa-user"></i>
            </a>
            <a href="/products/carrito"class="home-button-a" >
                <i id="home-shopping" class="fas fa-shopping-bag"></i>
            </a>
            <a href="/products/addProduct"class="home-button-a" >
                <i id="home-shopping" class="fas fa-plus">Agregar Producto</i>
            </a>
        <% } else { %> 
            <a href="/users/login" class="home-button-a" >
            <i id="home-shopping" class="fas fa-sign-in-alt"></i> 
        </a>
        </div>
        <% } %> 
    </div>
    <div class="home-header-div1">
        <a href="#" class="home-header-buttom">
            <i id="home-hamburguer" class="fas fa-bars"></i>
        </a>
        <a href="/"> <img id="home-header-logo" src="/img/Logo/logo_transparent_mo.png">
        </a>
        <nav class="home-header-navbar">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/products/carrito">CARRITO</a></li>
                <li><a href="#">¿COMO COMPRAR?</a></li>
                <li><a href="#">REGALA</a></li>
                <li><a href="#">TIPS</a></li>
                <li><a href="#">FAQS</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </nav>
        <div class="home-header-button">
            <a href="#" class="home-button-a">
            <i id="home-search" class="fas fa-search"></i>
        </a>
        <a href="/products/carrito" class="home-button-a" >
            <i id="home-shopping" class="fas fa-shopping-bag"></i>
        </a>
        <a href="/users/profile" class="home-button-a" >
            <i id="home-shopping" class="fas fa-shopping-bag"></i>
        </a>
        </div>
    </div>

    
</header>