<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    </link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </link>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Home</title>
</head>

<body>
  <header class="home-header">
    <div class="home-header-ofertas">
        <a href="../users/registro"><strong>¡Registrate gratis para mas descuentos!</strong></a>
        <div class="home-header-button-top">
            <a href="#" class="home-button-a">
            <i id="home-search" class="fas fa-search"></i>
        </a>
        <a href="../products/carrito"class="home-button-a" >
            <i id="home-shopping" class="fas fa-shopping-bag"></i>
        </a>
        </div>
    </div>
    <div class="home-header-div1">
        <a href="#" class="home-header-buttom">
            <i id="home-hamburguer" class="fas fa-bars"></i>
        </a>
        <a href="/"> <img id="home-header-logo" src="/img/Logo/logo_transparent_mo.png">
        </a>
        <nav class="home-header-navbar">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="#">TIENDA</a></li>
                <li><a href="#">¿COMO COMPRAR?</a></li>
                <li><a href="#">REGALA</a></li>
                <li><a href="#">TIPS</a></li>
                <li><a href="#">FAQS</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </nav>
        <div class="home-header-button">
            <a href="#" class="home-button-a">
            <i id="home-search" class="fas fa-search"></i>
        </a>
        <a href="../products/carrito" class="home-button-a" >
            <i id="home-shopping" class="fas fa-shopping-bag"></i>
        </a>
        </div>
    </div>

    
</header>
    <main>
      <div class="banner"><img src="/img/Plantasia.png"></div>
      <!--Section Products-->
        <!--Menu-Sidebar-->
        <section class="section products">
            
              <div class="col-1-of-4">
                <div>
                  <div class="block-title">
                    <h4>Categoría</h4>
                  </div>
        
                  <ul class="block-content">
                    <li>
                      <input type="checkbox" name="" id="">
                      <label for="">
                        <span>Plantas de Interior</span>
                        <small>(20)</small>
                      </label>
                    </li>
        
                    <li>
                      <input type="checkbox" name="" id="">
                      <label for="">
                        <span>Plantas de Exterior</span>
                        <small>(7)</small>
                      </label>
                    </li>
        
                    <li>
                      <input type="checkbox" name="" id="">
                      <label for="">
                        <span>Macetas</span>
                        <small>(3)</small>
                      </label>
                    </li>
        
                    <li>
                      <input type="checkbox" name="" id="">
                      <label for="">
                        <span>Sustratos</span>
                        <small>(3)</small>
                      </label>
                    </li>

                    <li>
                        <input type="checkbox" name="" id="">
                        <label for="">
                          <span>Accesorios</span>
                          <small>(3)</small>
                        </label>
                      </li>
                  </ul>
                </div>
        
                <div>
                  <div class="block-title">
                    <h4>Filtrar Por</h4>
                  </div>
                  
                  <ul class="block-content">
                        
                    <li>
                      <input type="checkbox" name="" id="">
                      <label for="">
                        <span>Precio</span>
                        <small>(10)</small>
                      </label>
                    </li>
        
                    <li>
                      <input type="checkbox" name="" id="">
                      <label for="">
                        <span>Tamaño Lts</span>
                        <small>(7)</small>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            
              <!--Menu-Sidebar-->
              <!--Produtct-Layout-Filter-->
            <div class="col-3-of-4">
                <form action="">
                  <div class="item">
                    <label for="sort-by">Sort By</label>
                    <select name="sort-by" id="sort-by">
                      <option value="title" selected="selected">Name</option>
                      <option value="number">Price</option>
                      <option value="search_api_relevance">Relevance</option>
                      <option value="created">Newness</option>
                    </select>
                  </div>
                  <div class="item">
                    <label for="order-by">Order</label>
                    <select name="order-by" id="sort-by">
                      <option value="ASC" selected="selected">ASC</option>
                      <option value="DESC">DESC</option>
                    </select>
                  </div>
                  <a href="">Apply</a>
                </form>
              
            
             <!--Produtct-Layout-Filter-->
        
        <!--Produtct-Layout-->
         
        <div class="product-layout">
          <% for(let i=0;i<productos.length;i++) { %> 
            <div class="product">
              <div class="img-container">
                <img src="/img/<%=productos[i].imagen %>" class="img-product" alt="" />
                <div class="addCart">
                  <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
              <div class="bottom">
                <a href="../products/detalle-producto"><%=productos[i].nombre %></a>
                <div class="price">
                  <span>$<%=productos[i].precio %></span>
                </div>
              </div>
            </div>
            <% } %>
            
      <!--Section Products-->
    </main>

      <!-- Footer -->
  <footer id="footer" class="section footer">
    <div class="container">
      <div class="footer-container">
        <div class="footer-center">
          <h3>REDES SOCIALES</h3>
          <a href="#">Instagram</a>
          <a href="#">Twitter</a>
          <a href="#">Facebook</a>
          <a href="#">Whatsaap</a>
          
        </div>
        <div class="footer-center">
          <h3>INFORMACIÓN</h3>
          <a href="#">Sobre Nosotros</a>
          <a href="#">Políticas Privacidad</a>
          <a href="#">Terminos y Condiciones</a>
          <a href="#">Contáctanos</a>
          <a href="#">Mapa del Sitio</a>
        </div>
        <div class="footer-center">
          <h3>MI CUENTA</h3>
          <a href="#">Mi Cuenta</a>
          <a href="#">Ordenes de Compra</a>
          <a href="#">Deseados</a>
          <a href="#">Newsletter</a>
          <a href="#">Devoluciones</a>
        </div>
        <div class="footer-center">
          <h3>CONTACT US</h3>
          <div>
            <span>
              <i class="fas fa-map-marker-alt"></i>
            </span>
            Costa Rica 2009, Palermo, CABA, Argentina
          </div>
          <div>
            <span>
              <i class="far fa-envelope"></i>
            </span>
            plantasia@gmail.com
          </div>
          <div>
            <span>
              <i class="fas fa-phone"></i>
            </span>
            +54-11-64356740
          </div>
          <div class="payment-methods">
            <img src="./images/payment.png" alt="">
          </div>
        </div>
      </div>
    </div>
    </div>
  </footer>
  <!-- End Footer -->
</body>

</html>
